<div class="col-sm-2 prevoz ">
    <author><%= author %></author>
    <price><%= price %>💶</price>
    <time><%= date %> <%= time %></time>
    <route><%= from %> 🔜 <%= to %></route>
    <tel><%= tel %></tel>
    <car_info><%= car_info %></car_info>
    <comment><%= comment %></comment>
</div>

