<div class="prevoz">
    <author><%= author %></author>
    <price><%= price %></price>
    <time><%= time %></time>
    <tel><%= tel %></tel>
    <car_info><%= car_info %></car_info>
    <comment><%= comment %></comment>
</div>

